#cloud-config

users:
{% for u in users %}
  - name: {{ u.name }}
    groups: {{ u.groups }}
    sudo: {{ u.sudo }}
    shell: {{ u.shell }}
    lock_passwd: {{ u.lock_passwd }}
    plain_text_passwd: "{{ u.plain_text_passwd }}"
    ssh_authorized_keys:
      - "{{ ssh_key }}"
{% endfor %}

packages:
{% for pkg in packages %}
  - {{ pkg }}
{% endfor %}

runcmd:
{% for cmd in runcmd %}
  - {{ cmd }}
{% endfor %}

